workflows/Daily n8n Backup - All Workflows.json
{"updatedAt":"2026-02-10T13:23:21.980Z","createdAt":"2026-02-10T12:38:29.970Z","id":"K1GpwbkKRtzzydrHiLiQd","name":"Daily n8n Backup - All Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":0}]}},"name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[400,-64],"id":"30967d83-bb38-4f71-8f10-f786df106840"},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","url":"http://localhost:5678/api/v1/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer YOUR_API_TOKEN_HERE"}]}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[576,-64],"id":"3fc33ba7-cbbb-41c0-8685-069e7d2551b1","credentials":{"n8nApi":{"id":"wuWadWcqM00fgHal","name":"n8n account"}}},{"parameters":{"jsCode":"// items[0].json.data could be an array of workflows\nconst workflows = Array.isArray(items[0].json.data)\n  ? items[0].json.data\n  : [items[0].json.data];\n\nreturn workflows.map(wf => ({\n  json: { workflowData: wf, workflowName: wf.name }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-64],"id":"7a80f712-c6ae-44e7-8ea5-eaf5072109cd","name":"Code in JavaScript"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Joadoa1992","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"name"},"filePath":"=workflows/{{$json.workflowName}}.json","fileContent":"={{ JSON.stringify($json.workflowData) }}","commitMessage":"=Backup workflow: {{$json.workflowName}}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1008,-64],"id":"228e7b0a-ac03-48bb-a51e-820563823bc9","name":"Create a file","webhookId":"b6280ffd-5518-4d98-8783-fcb5a5a9c29f","alwaysOutputData":false,"credentials":{"githubApi":{"id":"jZdm9dZXbCFVTLiQ","name":"GitHub account"}}}],"connections":{"Cron Trigger":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ae3d1a6-6320-4348-94ea-255c6a1b3bba","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T12:38:29.974Z","createdAt":"2026-02-10T12:38:29.974Z","role":"workflow:owner","workflowId":"K1GpwbkKRtzzydrHiLiQd","projectId":"vFVp3Gp1M7jcr6ua"}],"activeVersion":null,"tags":[]}