workflows/Daily n8n Backup - All Workflows.json
{"updatedAt":"2026-02-10T14:25:26.904Z","createdAt":"2026-02-10T13:36:50.725Z","id":"q6F6hV6VfgzT4AaSi36N-","name":"Daily n8n Backup - All Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":0}]}},"name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[224,16],"id":"847f4d25-5bd0-4559-9802-50c45c48b53a"},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","url":"http://localhost:5678/api/v1/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer YOUR_API_TOKEN_HERE"}]}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[400,16],"id":"fe5bce20-397a-4678-a946-3c6a69d3dd85","credentials":{"n8nApi":{"id":"FGCg4EW9g8DszRA3","name":"n8n account"}}},{"parameters":{"jsCode":"// items[0].json.data could be an array of workflows\nconst workflows = Array.isArray(items[0].json.data)\n  ? items[0].json.data\n  : [items[0].json.data];\n\nreturn workflows.map(wf => ({\n  json: { workflowData: wf, workflowName: wf.name }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,16],"id":"61ca3c54-bd3d-4e33-93a5-3cc377443e69","name":"Code in JavaScript"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Joadoa1992","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"name"},"filePath":"=workflows/{{$json.workflowName}}.json","fileContent":"={{ JSON.stringify($json.workflowData) }}","commitMessage":"=Backup workflow: {{$json.workflowName}}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[832,16],"id":"fe61aab8-7e8d-4aac-83bf-56f9f65d4369","name":"Create a file","webhookId":"b6280ffd-5518-4d98-8783-fcb5a5a9c29f","alwaysOutputData":false,"credentials":{"githubApi":{"id":"oynMO242ft1EmsGx","name":"GitHub account"}}}],"connections":{"Cron Trigger":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5617817e-9493-455b-be22-0023f17fd2c8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T13:36:50.731Z","createdAt":"2026-02-10T13:36:50.731Z","role":"workflow:owner","workflowId":"q6F6hV6VfgzT4AaSi36N-","projectId":"WG3HlD7TAE2SWbmu"}],"activeVersion":null,"tags":[]}