workflows/Email Support Ticket Classifier.json
{"updatedAt":"2026-02-11T11:40:32.006Z","createdAt":"2026-02-10T13:49:55.293Z","id":"Y5ubAEE8_ey23YVPPMaoQ","name":"Email Support Ticket Classifier","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Classify the following email into exactly ONE of these values:\nSales Inquiry\nTechnical Support\nBilling Question\nSpam\n\nReply with ONLY the category name. Noexplanation. No quotes. Its fine if it is in danish\nEmail content: \nFrom:\n{{ $json.body.from }}\nSubject:\n{{ $json.body.subject }}\nBody:\n{{$json[\"body\"]}}","options":{"systemMessage":""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1040,448],"id":"242a77e2-bd28-4d02-b863-d58e90f1a609","name":"AI Agent"},{"parameters":{"model":"llama3.2:latest","options":{"lowVram":false}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-1040,672],"id":"44ee823d-0c16-47cc-a25c-ead8ef403019","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"N8noHcO0iCx7Bvp2","name":"Ollama account"}}},{"parameters":{"httpMethod":"POST","path":"test-email","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1280,448],"id":"85ed2b5b-959f-4f8a-a0f7-1bf159753c58","name":"Webhook","webhookId":"b7dc31bf-4f27-4461-ba62-a50f4f680904"},{"parameters":{"mode":"expression","output":"={{\n  $json[\"output\"] === \"Sales Inquiry\" ? 0 :\n  $json[\"output\"] === \"Technical Support\" ? 1 :\n  $json[\"output\"] === \"Billing Question\" ? 2 :\n  $json[\"output\"] === \"Spam\" ? 3 :\n  0\n}}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-672,448],"id":"e727fce7-669a-4515-a1b4-6818423f7e34","name":"Switch"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"text","value":"={{'------------------------------\\n' + 'Time: ' + $now + '\\n' + 'Category: ' + $json[\"output\"] + '\\n' + 'From: ' + ( $('Webhook').item.json.body.from|| 'unknown') + '\\n' + 'Subject: ' + ($('Webhook').item.json.body.subject|| 'no subject') + '\\n\\nBody:\\n' + ($('Webhook').item.json.body.body || '') + '\\n------------------------------\\n'}}"}]},"options":{}},"name":"Prepare Full Email Log","type":"n8n-nodes-base.set","typeVersion":2,"position":[-448,192],"id":"c2abd0f8-51b3-4dd5-8ab9-48d0341917ee"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"text","value":"={{'------------------------------\\n' + 'Time: ' + $now + '\\n' + 'Category: ' + $json[\"output\"] + '\\n' + 'From: ' + ( $('Webhook').item.json.body.from|| 'unknown') + '\\n' + 'Subject: ' + ($('Webhook').item.json.body.subject|| 'no subject') + '\\n\\nBody:\\n' + ($('Webhook').item.json.body.body || '') + '\\n------------------------------\\n'}}"}]},"options":{}},"name":"Prepare Full Email Log1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-448,336],"id":"e7179ba7-e23a-4b0d-8cfc-9edc85463d69"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"text","value":"={{'------------------------------\\n' + 'Time: ' + $now + '\\n' + 'Category: ' + $json[\"output\"] + '\\n' + 'From: ' + ( $('Webhook').item.json.body.from|| 'unknown') + '\\n' + 'Subject: ' + ($('Webhook').item.json.body.subject|| 'no subject') + '\\n\\nBody:\\n' + ($('Webhook').item.json.body.body || '') + '\\n------------------------------\\n'}}"}]},"options":{}},"name":"Prepare Full Email Log2","type":"n8n-nodes-base.set","typeVersion":2,"position":[-448,480],"id":"8b29c8ae-2331-466d-91e5-55d74b22bbbc"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"text","value":"={{'------------------------------\\n' + 'Time: ' + $now + '\\n' + 'Category: ' + $json[\"output\"] + '\\n' + 'From: ' + ( $('Webhook').item.json.body.from|| 'unknown') + '\\n' + 'Subject: ' + ($('Webhook').item.json.body.subject|| 'no subject') + '\\n\\nBody:\\n' + ($('Webhook').item.json.body.body || '') + '\\n------------------------------\\n'}}"}]},"options":{}},"name":"Prepare Full Email Log3","type":"n8n-nodes-base.set","typeVersion":2,"position":[-448,640],"id":"0f9445a9-23ed-44dc-88aa-402caf1714e9"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"url","value":"https://app.slack.com/client/T0AE1BMA2DB/C0AE9Q3505U","__regex":"https://app.slack.com/client/.*/([a-zA-Z0-9]{2,})"},"text":"={{ $('Prepare Full Email Log').item.json.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-256,192],"id":"7db17f43-572e-42e6-ab9a-625ad8009d19","name":"Send a message","webhookId":"145e48ac-5d90-425b-8242-8c368e4ee82d","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"https://app.slack.com/client/T0AE1BMA2DB/C0AE9S8R27Q","mode":"url"},"text":"={{ $('Prepare Full Email Log1').item.json.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-256,336],"id":"71229d4c-4b51-4b55-90f9-73ec3be07bcf","name":"Send a message1","webhookId":"145e48ac-5d90-425b-8242-8c368e4ee82d","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"https://app.slack.com/client/T0AE1BMA2DB/C0AE9SB55C6","mode":"url"},"text":"={{ $('Prepare Full Email Log2').item.json.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-256,480],"id":"a0d17e44-42ed-4f03-a574-aae0d3ad1520","name":"Send a message2","webhookId":"145e48ac-5d90-425b-8242-8c368e4ee82d","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"https://app.slack.com/client/T0AE1BMA2DB/C0AE9PPPTLN","mode":"url"},"text":"={{ $('Prepare Full Email Log3').item.json.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-256,640],"id":"9c769919-6c9e-4f3f-9037-117658949e9d","name":"Send a message3","webhookId":"145e48ac-5d90-425b-8242-8c368e4ee82d","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Prepare Full Email Log","type":"main","index":0}],[{"node":"Prepare Full Email Log1","type":"main","index":0}],[{"node":"Prepare Full Email Log2","type":"main","index":0}],[{"node":"Prepare Full Email Log3","type":"main","index":0}]]},"Prepare Full Email Log":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Prepare Full Email Log1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Prepare Full Email Log2":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Prepare Full Email Log3":{"main":[[{"node":"Send a message3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2dc12b92-50b0-412a-a573-7c9d0416e190","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T13:49:55.297Z","createdAt":"2026-02-10T13:49:55.297Z","role":"workflow:owner","workflowId":"Y5ubAEE8_ey23YVPPMaoQ","projectId":"WG3HlD7TAE2SWbmu"}],"activeVersion":null,"tags":[]}