workflows/Nyheds brev.json
{"updatedAt":"2026-02-24T11:30:38.996Z","createdAt":"2026-02-11T11:47:56.302Z","id":"Csu-aHQn1Tocdh5GJaBEA","name":"Nyheds brev","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,0],"id":"eb28e286-7b5f-4d2c-900e-cb45d73dd173","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://www.dr.dk/nyheder/service/feeds/allenyheder","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-16,0],"id":"09907361-fd7c-42b7-be60-3f0e0c7525f6","name":"RSS Read"},{"parameters":{"promptType":"define","text":"=Find the 3 funniest titles and rewrite each one funniere while keeping the same core topic.\nRespond with exactly 3 rewritten titles and nothing else. No numbering. No explanation.\n","options":{"systemMessage":"Danish"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[416,0],"id":"e7013263-eb1e-4db7-854e-dd682cf51618","name":"AI Agent"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[432,256],"id":"4a8b9b62-02e4-4996-91c7-eaab2d5bf3d3","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"N8noHcO0iCx7Bvp2","name":"Ollama account"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[192,0],"id":"f6e0fd4c-46e9-4e00-bb93-6077b6e43d0b","name":"Convert to File"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"https://app.slack.com/client/T0AE1BMA2DB/C0AEFKV1K8C","mode":"url"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[752,0],"id":"8d522614-029d-495f-b85d-038838fa02f3","name":"Send a message","webhookId":"145e48ac-5d90-425b-8242-8c368e4ee82d","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"https://app.slack.com/client/T0AE1BMA2DB/C0AEFKV1K8C","mode":"url"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-224,-160],"id":"1d8f83e2-9802-42cd-999d-971217c5db19","name":"Slack Trigger","webhookId":"cdfa37ea-d670-4f55-a00f-768eefcdd8de","credentials":{"slackApi":{"id":"50LarfNK4QS6iE97","name":"Slack account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6b20ca3-41d6-4e00-acdb-901da704128d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-11T11:47:56.306Z","createdAt":"2026-02-11T11:47:56.306Z","role":"workflow:owner","workflowId":"Csu-aHQn1Tocdh5GJaBEA","projectId":"WG3HlD7TAE2SWbmu"}],"activeVersion":null,"tags":[]}